<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <style>
        body{
            background-color: blueviolet;
        }
    </style>
</head>
<body>
<div class="body">
    <h1>login Here </h1>
    <form action="/" method="POST">
        <input type="email" placeholder="Enter email" name="email" required/>
        <br>
        <input type="password"placeholder="Enter Password" name="password" required/>
        <br>
        <input type="submit" />
        <p> Create account? <a href="registration.html">Register</a>.</p>
    </div>
    </form>
</div>    
</body>
</html>

