<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nem_registrationt</title>
</head>
<body>
    <form action="/" method="POST">
        <div class="container">
        <h1>Register Here</h1>
        <p>Please fill in the details to create an account with us.</p>
        <hr>
        <label for="name"><b>Enter First Name</b></label>
        <input type="text" placeholder="Enter Name" name="first">
        <br>
        <label for="email"><b>Enter Last Name</b></label>
        <input type="text" placeholder="Enter Last Name" name="last">
        <br>
        <label for="pwd"><b>Gender</b></label>
        <input type="text" placeholder="Enter Password" name="gender">

        <label for="email"><b>Enter Email</b></label>
        <input type="text" placeholder="Enter Email" name="email">
        <br>
        <br>
        <label for="confirm"><b>Phone No</b></label>
        <input type="text" placeholder="Phone No" name="number">
        <br>
        <label for="confirm"><b>Password</b></label>
        <input type="password" placeholder="Phone No" name="pwd">
        <hr>
        
        
        <button type="submit" class="row" href="#" boder="1" >sumit</button>
</body>
</html>