<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>registration</title>
  <style>
  .container{

    background-color: aqua;

    }
  </style>
</head>
<body>
  <form action="/" method="POST">
    <div class="container">
    <h1>Register Here</h1>
    <p>Please fill in the details to create an account with us.</p>
    <hr>
    <label for="name"><b>Enter First Name</b></label>
      <input type="text" placeholder="Enter Name" name="fname">
    <br>
    <label for="email"><b>Enter Last Name</b></label>
    <input type="text" placeholder="Enter Last Name" name="lname">

    <label for="email"><b>Enter Email</b></label>
    <input type="text" placeholder="Enter Email" name="email">
    <br>
    <label for="pwd"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="pwd">
    <br>
   
    
    <button type="submit" class="row" href="#" boder="1" >Register</button>
    </div>
    <div class="container signin">
    <p>Already have an account? <a href="login.html">login</a>.</p>
    </div>
    </form>
</body>
</html>